.footer {
  background-color: #000;
  color: #fff;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__main {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  width: 423px;
}

.footer__title {
  width: 108px;
  line-height: 24px;
  font-size: 24px;
  font-weight: 700;
}

.footer__info-container {
  width: 423px;
  margin: 33px 0 54px;
}

.footer__container-title {
  width: 150px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
}

.footer__container-subtitle {
  width: 423px;
  margin: 6px 0 7px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

.footer__container-button {
  width: 116px;
  height: 46px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: none;
  color: white;
}

.footer__button-icon {
  width: 20px;
  height: 10px;
}

.footer__text {
  width: 387px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}

.footer__links-container {
  width: 549px;
  align-self: center;
}

.footer__links {
  width: 549px;
  display: flex;
  justify-content: space-between;
}

.footer__links-item {
  width: 600px;
}

.footer__link {
  width: 600px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer__copyright {
  width: 281px;
  margin-top: 120px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.25px;
}
