.headline {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.headline__container {
  width: 635px;
}

.headline__title {
  width: 635px;
  line-height: 96px;
  font-size: 50px;
  font-weight: 900;
}

.headline__subtitle {
  width: 468px;
  margin: 30px 0 42px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
}

.headline__container-button {
  width: 468px;
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
}

.headline__button {
  width: 198px;
  height: 56px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 400;
  background: rgb(46, 79, 215);
  border: none;
  color: white;
}

.headline__button-icon {
  width: 20px;
  height: 10px;
}

.headline__text {
  width: 250px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.headline__logs {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.headline__logo {
  width: 157px;
  height: 31px;
}

.headline__image {
  width: 460px;
  height: 589px;
}
